<div ng-controller="homeController" ng-init="homeinit()" id="popupContainer">
<div ng-show="loaderShow" style="background-color:black;width:100%;height:700px;">
    <div class="loader_make" ></div>
</div>
<div ng-show="loaderContent">
<section class="ds ms intro_section page_mainslider" style="background-color: black;">
    <div class="owl-carousel page_maincarousel" style="background-color: black;" data-margin="0" data-nav="true">
       <div style="background-color: black;">
            <div class="vertical-item maincarousel-item content-absolute cs" style="background-color: black;">
                <div class="item-media">
                    <img src="{{topModelActor.image}}" style="height:500px;object-fit:cover;" alt="">
                    <div class="media-links">
                        <a class="abs-link" title="" href="/model/{{topModelActor.id}}"></a>
                    </div>
                </div>
                <div class="item-content text-center grey gradient_bg_goriz">
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <h2>
                            <a href="/model/{{topModelActor.id}}">{{topModelActor.name}}</a>
                        </h2>
                        <h2><strong>{{topModelActor.Type}}</strong> </h2>
                        <div>
                            <p style="height:100px;overflow: hidden;">{{topModelActor.profiletext}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="vertical-item maincarousel-item content-absolute cs" style="background-color: black;">
                <div class="item-media">
                    <img src="{{topModelPerformer.image}}" style="height:500px;object-fit:cover;" alt="">
                    <div class="media-links">
                        <a class="abs-link" title="" href="/model/{{topModelPerformer.id}}"></a>
                    </div>
                </div>
                <div class="item-content text-center grey gradient_bg_goriz">
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <h2>
                            <a href="/model/{{topModelPerformer.id}}">{{topModelPerformer.name}}</a>
                        </h2>
                        <h2><strong>{{topModelPerformer.Type}}</strong> </h2>
                        <div>
                            <p style="height:100px;overflow: hidden;">{{topModelPerformer.profiletext}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="vertical-item maincarousel-item content-absolute cs" style="background-color: black;">
                <div class="item-media">
                    <img src="{{topModelSpeaker.image}}" alt="" style="height:500px;object-fit:cover;">
                    <div class="media-links">
                        <a class="abs-link" title="" href="/model/{{topModelSpeaker.id}}"></a>
                    </div>
                </div>
                <div class="item-content text-center grey gradient_bg_goriz">
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <h2>
                            <a href="/model/{{topModelSpeaker.id}}">{{topModelSpeaker.name}}</a>
                        </h2>
                        <h2><strong>{{topModelSpeaker.Type}}</strong> </h2>
                        <div>
                            <p style="height:100px;overflow: hidden;">{{topModelSpeaker.profiletext}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="vertical-item maincarousel-item content-absolute cs" style="background-color: black;">
                <div class="item-media">
                    <img src="{{topModelSport.image}}" style="height:500px;object-fit:cover;" alt="">
                    <div class="media-links">
                        <a class="abs-link" title="" href="/model/{{topModelSport.id}}"></a>
                    </div>
                </div>
                <div class="item-content text-center grey gradient_bg_goriz">
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <h2>
                            <a href="/model/{{topModelSport.id}}">{{topModelSport.name}}</a>
                        </h2>
                        <h2><strong>{{topModelSport.Type}}</strong> </h2>
                        <div>
                            <p style="height:100px;overflow: hidden;">{{topModelSport.profiletext}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="vertical-item maincarousel-item content-absolute cs" style="background-color: black;">
                <div class="item-media">
                    <img src="{{topModelRisingPerformer.image}}" style="height:500px;object-fit:cover;" alt="">
                    <div class="media-links">
                        <a class="abs-link" title="" href="/model/{{topModelRisingPerformer.id}}"></a>
                    </div>
                </div>
                <div class="item-content text-center grey gradient_bg_goriz">
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <h2>
                            <a href="/model/{{topModelRisingPerformer.id}}">{{topModelRisingPerformer.name}}</a>
                        </h2>
                        <h2><strong>{{topModelRisingPerformer.Type}}</strong> </h2>
                        <div>
                            <p style="height:100px;overflow: hidden;">{{topModelRisingPerformer.profiletext}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="vertical-item maincarousel-item content-absolute cs" style="background-color: black;">
                <div class="item-media">
                    <img src="{{topModelRisingSpeaker.image}}" style="height:500px;object-fit:cover;" alt="">
                    <div class="media-links">
                        <a class="abs-link" title="" href="/model/{{topModelRisingSpeaker.id}}"></a>
                    </div>
                </div>
                <div class="item-content text-center grey gradient_bg_goriz">
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <h2>
                            <a href="/model/{{topModelRisingSpeaker.id}}">{{topModelRisingSpeaker.name}}</a>
                        </h2>
                        <h2><strong>{{topModelRisingSpeaker.Type}}</strong> </h2>
                        <div>
                            <p style="height:100px;overflow: hidden;">{{topModelRisingSpeaker.profiletext}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>    

<section class="ds page_models models_square gorizontal_padding section_padding_70 columns_padding_0">
    <div class="container-fluid">
        <div class="row bottommargin_50 boxed-padding">
            <div class="col-lg-12">
                <div class="filters isotope_filters inline-block margin_0">
                    <a href="" ng-click="selectModels('Speakers')" id="Speakers">Speakers</a>
                    <a href="" ng-click="selectModels('Performers')" id="Performers">Performers</a>
                    <a href="" ng-click="selectModels('Actors')" id="Actors">Actors</a>
                    <a href="" ng-click="selectModels('Sports')" id="Sports">Sports</a>
                    <a href="" ng-click="selectModels('RisingPerformers')" id="RisingPerformers">Rising Performers</a>
                    <a href="" ng-click="selectModels('RisingSpeakers')" id="RisingSpeakers">Rising Speakers</a>
                </div>
            </div>
      
        </div>
        <div class="row bottommargin_50 boxed-padding">
        <div class="isotope-item col-lg-2 col-md-2 col-sm-6 col-xl-2 col-6" ng-repeat="selectedModel in topSelectedModels">
            <div class="vertical-item content-absolute">
                <div class="item-media">
                    <img src="{{selectedModel.image}}" style="height:300px;width:100%;object-fit:cover;" alt="">
                    <div class="media-links">
                    </div>
                </div>
                <div class="item-content text-center before_cover cs">
                    <div class="links-wrap">
                        <a class="p-link" style="width:50%;overflow: hidden;" title="" href="">{{selectedModel.name}}</a>
                        <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="/model/{{selectedModel.id}}"></a>
                    </div>
                    <div class="bg_overlay"></div>
                    <div class="model-parameters">
                        <div>
                            <p style="height:50px;overflow: hidden;">{{selectedModel.profiletext}}</p> 
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
        </div>
        <div class="row boxed-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="text-center load-btn">
                            <a class="theme_button inverse bottommargin_0" href="" ng-click="selectCategory()"><h4>Find Out More Talents</h4></a>
                    </div>
                </div>
        </div>
    </div>
</section>


<section class="ds parallax contacts section_padding_50" style="background-image: url('images/parallax/map2.jpg')">
    <div class="container">
        <div class="row topmargin_10 bottommargin_20">
            <div class="col-sm-4">
                <div class="teaser text-center">
                    <div class="teaser_icon black size_normal">
                        <i class="rt-icon2-phone5 highlight"></i>
                    </div>
                    <div class="fontsize_20 thin topmargin_20">
                        <span class="grey">Phone:</span> 8 (800) 456-2698
                        <br>
                        <span class="grey">Fax:</span> 8 (800) 456-2643
                    </div>
                </div>
            </div>
            <div class="col-sm-4 with_border">
                <div class="teaser text-center">
                    <div class="teaser_icon black size_normal">
                        <i class="rt-icon2-location2 highlight"></i>
                    </div>
                    <div class="fontsize_20 thin topmargin_20">
                        Jackson’s Street 567,
                        <br> San Diego, California,
                        <br> United States
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="teaser text-center">
                    <div class="teaser_icon black size_normal">
                        <i class="rt-icon2-mail highlight"></i>
                    </div>
                    <div class="fontsize_20 thin topmargin_20 darklinks">
                        <a href="">agency@support.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ds section_padding_70 parallax" style="background-image: url('images/parallax/map2.jpg')">
    <div class="container" >
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 text-center">
                <h2 class="big margin_0">Contact Us</h2>
                <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">Contact Form</h2>

                <form class="contact-form">
                    <div class="form-group">
                        <label for="name" class="sr-only">Full Name
                            <span class="required">*</span>
                        </label>
                        <input type="text"  size="30" value="" name="name" id="name" class="form-control text-center" ng-model="name" placeholder="Full name" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email
                            <span class="required">*</span>
                        </label>
                        <input type="email"  size="30" value="" name="email" id="email" class="form-control text-center" ng-model="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                            <label for="phone" class="sr-only">Phone number
                                <span class="required">*</span>
                            </label>
                            <input type="number"  size="30" value="" name="phone" id="phone" class="form-control text-center" ng-model="phone" placeholder="Phone number" required>
                        </div>
                    <div class="form-group bottommargin_30">
                        <label for="message" class="sr-only">Message</label>
                        <textarea  rows="6" cols="45" name="message" id="message" class="form-control text-center" ng-model="message" placeholder="Message" required></textarea>
                    </div>
                    <input type="submit" id="contact_form_submit" name="contact_submit" ng-click="onSubmit($event)" class="theme_button color1 bottommargin_0" value="Send"/>
                    <input type="reset" id="contact_form_clear" name="contact_clear" ng-click="onReset()" class="theme_button inverse bottommargin_0" value="Clear"/>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
</div>